@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html.dark {
		background-color: #393c42; /* Dark background */
		color: white; /* Dark text color */
	}

	html {
		background-color: rgb(214, 219, 220); /* Light background */
		color: black;
		max-width: 1466px; /* Light text color */
	}

	.markdown > * {
		all: revert;
	}
}
