.link .active {
	font-weight: bold;
	color: #c91f1f; /* Change to the desired highlight color */
	text-decoration-line: underline;
}

.link {
	color: #e91919; /* Change to the desired highlight color */
	text-decoration-line: underline;
}

.link:hover {
	color: #e19615; /* Change to the desired highlight color */
}
