.link.active {
	color: #c91f1f; /* Change to the desired highlight color */
	text-decoration-line: underline;
}

.link {
	text-decoration-line: underline;
}

.link:hover {
	color: #e19615; /* Change to the desired highlight color */
}
